void {{function_name}}(menu_context_t *ctx, menu_id_t id) {
    uint8_t idx = ctx->values[id].data.{{function_info.category}}.idx;
    {{function_info.c_type}} value = ctx->values[id].data.{{function_info.category}}.value;
    {{function_info.c_type}} factor = ctx->configs[id].data.{{function_info.category}}.factors[idx];

{% if function_info.printf_format %}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "{{ function_info.printf_format }} (x{{ function_info.printf_format }})", ({{ function_info.printf_cast }})value, ({{ function_info.printf_cast }})factor);
    menu_draw_pad_marker(ctx);
{% elif function_info.type == "float" %}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%2.2f (x%2.2f)", value, factor);
    menu_draw_pad_marker(ctx);
{% endif %}
}