void {{function_name}}(menu_context_t *ctx, menu_id_t id) {
    {{function_info.c_type}} max = ctx->configs[id].data.{{function_info.category}}.max;
    {{function_info.c_type}} value = ctx->values[id].data.{{function_info.category}}.value;
{% if function_info.printf_format %}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "{{ function_info.printf_format }}/{{ function_info.printf_format }}", ({{ function_info.printf_cast }})value, ({{ function_info.printf_cast }})max);
    menu_draw_pad_marker(ctx);
{% elif function_info.type == "float" %}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%3.3f/%3.3f", value, max);
    menu_draw_pad_marker(ctx);
{% endif %}
}